@import url("https://fonts.cdnfonts.com/css/md-grotesk");
:root, [data-theme=dark] {
  --nav-inner-margin:7rem;
  --nav-logo-width:4rem;
  --nav--h1-size:2.5rem;
  --nav--font-size:1.6rem;
  --sec-padding:4.5rem;
}

header {
  max-width: 100%;
  position: relative;
  color: white;
}
header nav {
  z-index: 999;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 20px;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
header nav #logo-container {
  flex: 1;
  padding-left: 20px;
}
header nav #logo-container a {
  text-decoration: none;
  color: white !important;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
}
header nav #logo-container a img {
  position: absolute;
  border: 1px solid black;
  margin-bottom: 50px;
  width: 150px;
  height: auto;
}
header nav #nav-container {
  flex: 2.5;
}
header nav #nav-container ul li {
  display: flex;
  gap: 40px;
  list-style-type: none;
  text-align: center;
}
header nav #nav-container ul li a {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-style: "Helvetica", sans-serif;
  font-size: large;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
header nav #nav-container ul li a:hover {
  color: rgb(95, 95, 95);
}
header nav #nav-container ul li ul.nav-dropdown {
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 1.2rem 0 var(--shadow-color);
  display: none;
}
header nav #nav-container ul li ul.nav-dropdown li {
  min-width: 190px;
}
header nav #nav-container ul li ul.nav-dropdown li a {
  padding: 15px;
  line-height: 20px;
}
header nav #nav-container #nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}
header nav #nav-container #nav-mobile #burger-menu {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
header nav #nav-container #nav-mobile #burger-menu span,
header nav #nav-container #nav-mobile #burger-menu span:before,
header nav #nav-container #nav-mobile #burger-menu span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: var(--white-color);
  position: absolute;
  display: block;
  content: "";
  transition: all 0.3s ease-in-out;
}
header nav #nav-container #nav-mobile #burger-menu span:before {
  top: -10px;
}
header nav #nav-container #nav-mobile #burger-menu span:after {
  bottom: -10px;
}
header nav #nav-container #nav-mobile #burger-menu.active span {
  background-color: transparent;
}
header nav #nav-container #nav-mobile #burger-menu.active span:before, header nav #nav-container #nav-mobile #burger-menu.active span:after {
  top: 0;
}
header nav #nav-container #nav-mobile #burger-menu.active span:before {
  transform: rotate(45deg);
}
header nav #nav-container #nav-mobile #burger-menu.active span:after {
  transform: rotate(-45deg);
}
header nav::after {
  content: "";
  clear: both;
  display: table;
}
@keyframes show-blur {
  from {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
  to {
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0));
  }
}
header nav.scrolled {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0));
}

.selected {
  color: var(--primary-color) !important;
}

@media all and (max-width: 1200px) {
  header nav #nav-container {
    flex: 3.5;
  }
}
body {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../res/architecture_indoors1.jpg") no-repeat center fixed;
  background-size: cover;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 95vh;
}
header main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-family: "MD Grotesk", sans-serif;
  font-size: xx-large;
}
header main #hero-container {
  margin-left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: -moz-min-content;
  max-width: min-content;
  max-width: 480px;
}
header main #hero-container h1 {
  color: white;
  font-size: 5.5vw;
}
header main #hero-container > p {
  margin-top: 0;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 400;
  min-width: 600px;
  min-width: 40vw;
}
header main #hero-container button {
  all: unset;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 2.3vw !important;
  padding-top: 20px;
  margin-top: 20px;
  border: 3px solid white;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  padding: 10px;
}
header main #hero-container button p {
  all: unset;
}
header main #hero-container button:hover {
  background-color: white;
  color: black;
}
header main #hero-container button:hover p {
  font-weight: 900;
}
header main #hero-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25%;
}
header main #hero-img-container img {
  margin-left: 20%;
  width: 20vw;
  filter: brightness(90%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
header main #hero-img-container .image-stack {
  position: relative;
  width: 100%;
}
header main #hero-img-container .image-stack .image-stack-item--bottom {
  position: absolute;
  right: -150px;
  top: -10px;
  padding-top: 80px;
  width: 80%;
  z-index: -1;
}
header main #hero-img-container .image-stack .image-stack-item--top {
  padding-bottom: 80px;
  right: 40px;
  width: 0%;
}

@media all and (max-width: 1600px) {
  header main #hero-img-container img {
    width: 20vw;
  }
  header main #hero-img-container .image-stack .image-stack-item--bottom {
    right: -100px;
  }
}
@media all and (max-width: 1050px) {
  header {
    margin-bottom: 500px;
  }
  header main {
    display: block;
    padding: 50px;
    flex-direction: column;
    align-items: center !important;
  }
  header main #hero-container {
    margin-top: 10px;
    transform: translate(5%, 0);
    margin-bottom: 150px;
    opacity: 0;
    filter: blur(5px);
    transform: translate(5%, 25%);
    transition: all 1s;
  }
  header main #hero-container.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(5%, 0);
    transition: all 1s;
  }
  header main #hero-container h1 {
    min-width: -moz-fit-content;
    min-width: fit-content;
    max-width: 80%;
    font-size: 9vw;
    margin-bottom: 20px;
  }
  header main #hero-container p {
    min-width: 600px;
    font-size: 3vw;
    margin-bottom: 0px;
  }
  header main #hero-img-container {
    transform: translate(25%, 0);
    margin-bottom: 280px;
    opacity: 0;
    filter: blur(5px);
    transform: translate(25%, 25%);
    transition: all 1s;
  }
  header main #hero-img-container.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(25%, 0);
    transition: all 1s;
  }
  header main #hero-img-container img {
    width: 380px;
  }
  header main #hero-img-container .image-stack .image-stack-item--bottom {
    width: 120%;
  }
  section#about {
    margin-top: 828px !important;
  }
}
body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  height: 100vh;
}

section {
  background-color: transparent;
  color: white;
}

.hidden-left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-25%);
  transition: all 1s;
}

.hidden-right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(25%);
  transition: all 1s;
}

.hidden-top {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-25%);
  transition: all 1s;
}

.hidden-bottom {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(25%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
  transition: all 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
section#about {
  max-height: 60vh;
  height: 100%;
  display: flex;
  flex-direction: row;
}
section#about .about-us-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
section#about .about-us-content h1 {
  font-size: 70px;
  font-weight: 900;
  margin-left: 80px;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 40px;
}
section#about .about-us-content .about-text {
  flex: 1;
  display: flex;
  align-items: left;
  gap: 20px;
  margin-left: 80px;
  padding-bottom: 0px;
  margin-bottom: 40px;
  flex-direction: column;
}
section#about .about-us-content .about-text p {
  all: unset;
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  font-weight: 400;
}
section#about .about-us-content .about-text h6 {
  all: unset;
  font-family: "Open Sans", sans-serif;
  font-size: xx-large;
  font-weight: 600;
  margin-top: 10px;
}
section#about .about-img {
  flex: 1;
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  flex-direction: column;
}
section#about .about-img h1 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 900;
}
section#about .about-img img {
  width: 500px;
  height: 260px;
  border-radius: 1em;
}

section#achievements {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
section#achievements .ac {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0;
}
section#achievements .ac h1 {
  all: unset;
  font-size: 80px;
  font-weight: 800;
}
section#achievements .ac p {
  font-size: larger;
  font-weight: 800;
}

section#our-work {
  background: none;
  height: 800px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
section#our-work h1 {
  font-size: 50px;
  font-weight: 900;
}
section#our-work .bento-grid-container {
  width: 850px;
  height: 650px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
section#our-work .bento-grid-container *:not(img) {
  border-radius: 1.5em;
}
section#our-work .bento-grid-container .rect {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  z-index: 5;
}
section#our-work .bento-grid-container .rect::after {
  z-index: 6;
  content: "";
  display: none;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
}
section#our-work .bento-grid-container .rect .about-text {
  all: unset;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
  display: none;
  flex-direction: column;
  gap: 10px;
}
section#our-work .bento-grid-container .rect .about-text h1 {
  all: unset;
  text-shadow: 4px 4px 6px rgb(43, 43, 58);
  font-weight: 900;
  z-index: 7;
}
section#our-work .bento-grid-container .rect .about-text p {
  all: unset;
  text-shadow: 4px 4px 6px rgb(43, 43, 58);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  text-wrap: wrap;
  z-index: 7;
}
section#our-work .bento-grid-container .rect.rect1 h1 {
  font-size: 2.5rem;
}
section#our-work .bento-grid-container .rect.rect1 p {
  font-size: 1.5rem;
}
section#our-work .bento-grid-container .rect.rect2 h1 {
  font-size: 1.5rem;
}
section#our-work .bento-grid-container .rect.rect2 p {
  font-size: 1.1rem;
}
section#our-work .bento-grid-container .rect.rect3 h1 {
  font-size: 1.5rem;
}
section#our-work .bento-grid-container .rect.rect3 p {
  font-size: 1.25rem;
}
section#our-work .bento-grid-container .rect.rect4 h1 {
  font-size: 1.5rem;
}
section#our-work .bento-grid-container .rect.rect4 p {
  font-size: 1.25rem;
}
section#our-work .bento-grid-container .rect.rect5 .about-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section#our-work .bento-grid-container .rect.rect5 h1 {
  font-size: 2.7rem;
}
section#our-work .bento-grid-container .rect.rect5 p {
  font-size: 2.25rem;
}
section#our-work .bento-grid-container .rect img {
  width: 100%;
  height: 100%;
  border-radius: 1.5em;
  transition: 0.2s;
}
section#our-work .bento-grid-container .rect:hover::after {
  display: block;
}
section#our-work .bento-grid-container .rect:hover .about-text {
  display: flex;
  flex-direction: column;
}
section#our-work .bento-grid-container .rect:hover > img {
  transform: scale(1.1, 1.1);
}
section#our-work .bento-grid-container > .col-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: none;
}
section#our-work .bento-grid-container > .col-left > .row1 {
  flex: 2;
}
section#our-work .bento-grid-container > .col-left > .row2 {
  flex: 1;
}
section#our-work .bento-grid-container > .col-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border: none;
}
section#our-work .bento-grid-container > .col-right > .row1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  border: none;
}
section#our-work .bento-grid-container > .col-right > .row1 > .col-left {
  flex: 1;
}
section#our-work .bento-grid-container > .col-right > .row1 > .col-right {
  flex: 1;
}
section#our-work .bento-grid-container > .col-right > .row2 {
  flex: 2;
}
section#our-work h1.see-more {
  margin-top: 20px;
}
section#our-work h1.see-more a {
  all: unset;
}
section#our-work h1.see-more:hover {
  color: rgb(124, 124, 124);
  cursor: pointer;
}

section#services {
  background: none;
  height: 800px;
  padding: 20px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
section#services h1 {
  font-size: 50px;
  font-weight: 900;
}
section#services .services-parent {
  margin-top: 10px;
  display: grid;
  grid-template-areas: "house-design office-design" "interior-detailing paint-selection";
  gap: 30px;
}
section#services .services-parent .service {
  width: 800px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
}
section#services .services-parent .service.s1 {
  grid-area: house-design;
}
section#services .services-parent .service.s2 {
  grid-area: office-design;
}
section#services .services-parent .service.s3 {
  grid-area: interior-detailing;
}
section#services .services-parent .service.s4 {
  grid-area: paint-selection;
}
section#services .services-parent .service .img-parent {
  min-width: 200px;
  min-height: 200px;
  width: 200px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 0.5em;
  transition-duration: 0.3s;
}
section#services .services-parent .service .img-parent img {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}
section#services .services-parent .service .text-parent {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-shadow: 4px 4px 6px rgb(43, 43, 58);
  transition-duration: 0.3s;
}
section#services .services-parent .service .text-parent h1 {
  margin-top: 40px;
  margin-bottom: 10px;
}
section#services .services-parent .service .text-parent p {
  font-size: 23px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
section#services .services-parent .service:hover {
  background-color: rgba(0, 0, 0, 0.301);
  border-radius: 1.5em;
  cursor: pointer;
}
section#services .services-parent .service:hover .img-parent {
  margin-bottom: 20px;
  transition-duration: 0.3s;
}
section#services .services-parent .service:hover .text-parent {
  margin-bottom: 20px;
  transition-duration: 0.3s;
}

section#testimonials {
  background: none;
  height: 800px;
  padding: 20px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
section#testimonials h1 {
  font-size: 50px;
  font-weight: 900;
}
section#testimonials .testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: white;
  color: black;
  background-color: rgba(0, 0, 0, 0.548);
  cursor: pointer;
  color: white;
  border-radius: 15px;
  margin: 20px auto;
  padding: 50px 80px;
  width: 800px;
  min-height: 430px;
  position: relative;
  font-size: larger;
  font-weight: bolder;
}
section#testimonials .stars {
  padding-top: 0;
  margin-top: 0;
  font-size: 14px;
}
section#testimonials .testimonial {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 900;
  height: 100%;
  line-height: 28px;
  margin: 0;
  padding-top: 0;
}
section#testimonials .user {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
section#testimonials .user .user-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
section#testimonials .user .user-details {
  text-align: center;
}
section#testimonials .user .username {
  margin: 0;
  font-size: 14px;
}
section#testimonials .user .role {
  margin: 0;
  font-size: 12px;
}
section#testimonials .progress-dots {
  display: flex;
  gap: 5px;
}
section#testimonials .progress-dot {
  width: 5px;
  height: 5px;
  background-color: #eee;
  border-radius: 50%;
}
section#testimonials .progress-dot.active {
  background-color: #555;
}
section#testimonials .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  font-size: 10px;
  cursor: pointer;
  transition: 0.1s ease;
}
section#testimonials .btn:hover {
  background-color: #eee;
}
section#testimonials #btn-prev {
  left: 25px;
}
section#testimonials #btn-next {
  right: 25px;
}

section#contact-us {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 100px;
  font-family: "MD Grotesk", sans-serif;
  font-size: xx-large;
}
section#contact-us h1 {
  color: white;
  font-size: 3em;
}
section#contact-us p {
  margin-top: 0;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: x-large;
  font-weight: 400;
  width: 600px;
}
section#contact-us button {
  all: unset;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 100%;
  padding-top: 20px;
  margin-top: 20px;
  border: 3px solid white;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  padding: 10px;
}
section#contact-us button p {
  all: unset;
}
section#contact-us button:hover {
  background-color: white;
  color: black;
}
section#contact-us button:hover p {
  font-weight: 900;
}